*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgrey;
}
#container{
    height: 200px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
#container img{
    height: 100%;
    width: 100%;
    object-fit:cover ;
    object-position: center;

}
#container i{
    color: rgb(235, 7, 7);
    font-size: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    position: absolute;
    opacity: 0;
    transition: all ease 0.4s;
}