*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
   
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(117, 131, 140);
}
#card{
    height: 250px;
    width: 150px;
    background-color: rgb(143, 162, 162);
    padding: 20px;
    border-radius: 25px; 
    text-align: center; 
    
}
#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;

}
#card h1{
    font-size: 30px;
    margin: 10px ;
    
}
#card h5{
    font-size: 20px;
    color: rgb(240, 0, 0);
    margin-bottom: 20px;
}
#card button{
    background-color: rgb(118, 211, 211);
    color: white;
    font-weight: 700;
    padding: 5px 10px ;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
#card button:active{
    scale: 0.96;
}
