*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(130, 125, 125);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
}
h1{
    font-size: 9vw;
    font-weight: 900;
}